@model IEnumerable<Inventories.Models.tblTransfer>

@{
    ViewData["Title"] = "Transfers";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
}


<head>

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        <h5 class="breadcrumb-title">Transfer List</h5>
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateTransferB">
                                        <a href="@Url.Action("CreateTransfer","Transfer")" class="btn btn-primary " style="float:right;"><i class="fa fa-plus"></i> Create New Transfer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="TransferTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Transfer ID</th>
                                        <th>Transfer Date</th>
                                        <th>From Warehouse</th>
                                        <th>To Warehouse</th>
                                        <th>Reference</th>
                                        <th>Details</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Inventories.Models.tblTransfer Transfer in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">@Transfer.TransferId</td>
                                            <td>@Transfer.TransferDate.ToString("dd-MM-yyyy")</td>
                                            <td>@Transfer.tblWarehouse.Name</td>
                                            <td>@Transfer.tblWarehouse1.Name</td>
                                            <td>@Transfer.Reference</td>
                                            <td>@Transfer.Details</td>
                                            <td class="text-end">
                                                <div class="actions">
                                                    <a href="@Url.Action("CreateTransfer","Transfer",new {id=Transfer.TransferId })" id="EditTransfer" class="text-black">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <a class="text-danger" href="#" data-toggle="modal" data-target="#TransferDelete" id="DeleteTransfer">
                                                        <i class="fa fa-trash"></i> Delete
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="TransferDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteTransferID" style="display:none;">
                <h5>Are you sure want to delete this Transfer information?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteTransfer" value="Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->
@*<script src="~/Content/assets/js/jquery-3.5.1.js"></script>*@


<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("body").on("click", "#DeleteTransfer", function () {
        $("#ConfigDerror").text("");
        $("#CDeleteTransfer").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeleteTransferID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeleteDeviceInfoID").val());
    });

    $("#CDeleteTransfer").on("click", function () {


        $("#CDeleteTransfer").attr("disabled", true);

        var ID = $("#DeleteTransferID").val();

        var model = {
            Id: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Transfer/DeleteTransfer",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == 1) {

                    var url = window.location.origin;
                    url += '/Transfer/Transfers?Delete=Transfer has been delete successfully.';
                    window.location.href = url;
                }
                //alert(r + " record(s) inserted.");
            }
        });

    });



    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(6000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(6000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(6000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }

        $('#TransferTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'pageLength',
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [ 1, 2,3,4,5]
                    }
                }
            ],
            
            searching: true, paging: true
        });



        $(".nav li ul li").removeClass("active");
        $('#Transfers').addClass('active');
        $('#Transfer a').addClass('subdrop');
        $("#Transfer  ul").first().css('display', 'block');


    });




</script>
