
@{
    Layout = null;
    string Succ = @ViewBag.Success;
}

@{
    ViewData["Title"] = "ChangePassword";
    ViewBag.User = Session["User"];
    HttpCookie Scookie = Request.Cookies["Setting"];
    string Color = Scookie["Color"];
    string HoverColor = Scookie["HoverColor"];
    string Name = Scookie["Name"];
}

<head>
    <title>Eazi Warehouse -Change Password</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/feathericon.min.css">

    <link rel="stylesheet" href="~/Content/assets/plugins/morris/morris.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">


    <style>
        .login-wrapper .loginbox .login-left {
            background: linear-gradient(180deg, @HoverColor, @Color);
        }
        .btn-primary {
            background-color: @Color;
            border: 1px solid @Color;
            /*background-color: #00d0f1;*/
            /*border: 1px solid #00d0f1;*/
        }

            .btn-primary:hover,
            .btn-primary:focus,
            .btn-primary.active,
            .btn-primary:active,
            .open > .dropdown-toggle.btn-primary {
                background-color: @HoverColor;
                border: 1px solid @HoverColor;
                /*background-color: #374151;
	border: 1px solid #374151;*/
            }

        .btn-primary.active:not(:disabled):not(.disabled),
        .btn-primary:active:not(:disabled):not(.disabled),
        .show > .btn-primary.dropdown-toggle {
            background-color: @HoverColor;
            border-color: @HoverColor;
            color: #fff;
        }


        .btn-primary.disabled, .btn-primary:disabled {
            background-color: @HoverColor;
            border-color: @HoverColor;
            color: #fff;
        }
    </style>
</head>

<!-- Page Wrapper -->
<!-- Page Header -->
<!-- /Page Header -->

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <h3 style="color:white;text-align:center">@Name</h3>
                    @*<img class="img-fluid" src="~/Content/assets/img/logo-white.png" alt="Logo">*@
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                            @ViewBag.Success
                        </div>
                        <div style="display:none;" class="alert alert-danger alert-dismissible fade show" role="alert" id="ChangePasserror">
                            <strong>@Resource.Error!</strong>@Resource.New_Password_and_Confirm_Password_not_Matched.
                        </div>
                        <h1>@Resource.Change @Resource.Password</h1>
                        @using (Html.BeginForm("ChangeForgetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {@Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="text" class="form-control" style="display:none;" name="Email" value=@ViewBag.Email>
                            @*<span style="color:red;">@ViewBag.Error </span>  <span style="color:red;" id="ChangePasserror">@ViewBag.PError</span><br />*@
                        </div>
                        <div class="form-group">
                            <label>@Resource.New @Resource.Password</label>
                            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                        </div>
                        <div class="form-group">
                            <label>@Resource.Confirm @Resource.Password</label>
                            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                        </div>
                        <button class="btn btn-primary" type="submit" id="SaveChanges">@Resource.Save_Changes</button>
                    }

                        @*<div class="text-center forgotpass"><a href="@Url.Action("ForgetPassword","Account")">Forgot Password?</a></div>*@

                        @*<div class="login-or">
                                <span class="or-line"></span>
                                <span class="span-or">or</span>
                            </div>*@

                        <!-- Social Login -->
                        @*<div class="social-login">
                                <span>Login with</span>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google"></i></a>
                            </div>*@
                        <!-- /Social Login -->
                        @*<div class="text-center dont-have">Don’t have an account? <a href="@Url.Action("Signup","Account")">Register</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->
<!-- jQuery -->
<!-- jQuery -->
<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="~/Content/assets/js/popper.min.js"></script>
<script src="~/Content/assets/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="~/Content/assets/js/script.js"></script>

<script>

    $("#ConfirmPassword").change(function () {
        var New = $("#NewPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }
    });

    $("#NewPassword").change(function () {
        var New = $("#ConfirmPassword").val();
        if (New) {
            if ($("#NewPassword").val() != $("#ConfirmPassword").val()) {
                $("#ChangePasserror").fadeIn();

                $("#SaveChanges").attr("disabled", true);
            } else {
                $("#SaveChanges").attr("disabled", false);
                $("#ChangePasserror").fadeOut();
            }
        }

    });

    $(document).ready(function () {

        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(10000);
        }
        else {
                $('#SuccessAlert').fadeOut();
        }

    });


</script>

