@model  Inventories.Models.tblContact
@{
    int ContactId = 0;
    string Name = "";
    string Phone = "";
    string ContactType = "";
    string Email = "";
    string Details = "";

    if (Model != null)
    {
        ContactId = Model.ContactId;
        Name = Model.Name;
        Phone = Model.Phone;
        ContactType = Model.ContactType;
        Email = Model.Email;
        Details = Model.Details;
    }



}
<head>
    @*<link href="~/Theme/template/admin/assets/css/select2.min.css" rel="stylesheet" />*@

</head>

<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            @if (Model == null)
                            {
                                <h5 class="breadcrumb-title">@Resource.Create_Contact</h5>
                            }
                            else
                            {
                                <h5 class="breadcrumb-title">@Resource.Edit @Resource.Contact</h5>
                            }
                        </div>
                        <div class="col-md-6 col-6 text-right" id="CreateContactB">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("CreateContact", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {@Html.AntiForgeryToken()
            <div class="card">

                <div class="card-body">
                    <span style="color:red;">@ViewBag.Error</span>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <input type="text" class="form-control" style="display:none;" name="ContactId" value="@ContactId" required>
                                <label>@Resource.Name<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Name" name="Name" value="@Name" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@Resource.Email<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Email" name="Email" value="@Email" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@Resource.Phone</label>
                                <input type="text" class="form-control" id="Phone" name="Phone" value="@Phone">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@Resource.Contact @Resource.Type</label>
                                <input type="text" class="form-control" id="ContactType" name="ContactType" value="@ContactType">
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>@Resource.Details</label>
                                <textarea class="form-control" id="Details" name="Details">@Details</textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-primary" type="submit" id="SaveChanges">@Resource.Save</button>
                                <a href="@Url.Action("CreateContact","Contact",new { id=0})"> <input class="btn btn-danger" type="button" value="@Resource.Cancel"></a>
                                <a href="@Url.Action("Contacts","Contact")" class="btn btn-secondary"><i class="fa fa-list"></i> @Resource.List</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        }
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
@*<script src="~/Theme/template/admin/assets/js/jquery-3.2.1.min.js"></script>*@
<script src="~/Content/assets/js/jquery-3.5.1.js"></script>