@model  Inventories.Models.tblAdjustment

@{
    /**/

    HttpCookie cookieObj = Request.Cookies["User"];
    int UserId = Int32.Parse(cookieObj["UserId"]);
}


<style>

    /*.Label:hover {
        background-color: black;
    }*/

    #Table, .Row, .Col {
        border: 1px solid black;
    }
</style>

<div class="content">
    <div class="row">
        <div class="col-sm-5 col-4">
            <h4 class="page-title">Adjustment</h4>
        </div>
        <div class="col-sm-7 col-8 text-right m-b-30">
            <a href="@Url.Action("Adjustments","Adjustment")" class="btn btn-primary "><i class="fa fa-eye m-r-5"></i> Adjustments</a>
        </div>
    </div>
    @using (Html.BeginForm("CreateInv", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {@Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body"> 
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Adjustment Number</label>
                                <input class="form-control" readonly="" name="AdjustmentNumber" id="AdjustmentNumber" type="text" value="@ViewBag.AdjustmentNumber">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date</label>
                                    <input class="form-control" name="AdjustmentId" id="AdjustmentId" readonly="" hidden type="text" value="@Model.AdjustmentId">
                                    <input class="form-control" name="AdjustmentDate" id="AdjustmentDate" type="date" value="@Model.AdjustmentDate.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Type</label>
                                    <span id="TypeError"></span>
                                    <select class="form-control" name="Type" id="Type">
                                        <option value="">Type</option>
                                        @if (Model.Type == "Damage")
                                        {
                                            <option value="Damage" selected>Damage</option>
                                        }
                                        else
                                        {
                                            <option value="Damage">Damage</option>
                                        }
                                        @if (Model.Type == "Addition")
                                        {
                                            <option value="Addition" selected>Addition</option>
                                        }
                                        else
                                        {
                                            <option value="Addition">Addition</option>
                                        }
                                        @if (Model.Type == "Subtraction")
                                        {
                                            <option value="Subtraction" selected>Subtraction</option>
                                        }
                                        else
                                        {
                                            <option value="Subtraction">Subtraction</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Reference</label>
                                    <span id="ReferenceError"></span>
                                    <input class="form-control" name="Reference" id="Reference" type="text" value="@Model.Reference">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Warehouse</label>
                                    <span id="WarehouseError"></span>
                                    <select class="form-control" name="Warehouse" id="Warehouse">
                                        <option value="">Warehouse</option>
                                        @foreach (Inventories.Models.WarehouseAccess_Result item in @ViewBag.Warehouse)
                                        {
                                            if (Model.Warehouse == item.WarehouseId)
                                            {
                                                <option value="@item.WarehouseId" selected>@item.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@item.WarehouseId">@item.Name</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                                <div class="form-group">
                                    <label></label>
                                    <span id="SearchItemError"></span>
                                    <input class="form-control" name="SearchItem" id="SearchItem" placeholder="Scan barcode or search items" type="text" value="">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <span id="error"></span>
                            <div class="col-md-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-white" id="ItemTable">
                                        <thead>
                                            <tr>
                                                <th style="width: 20px"></th>
                                                <th class="col-md-6" hidden>Description</th>
                                                <th class="col-md-6">Items</th>
                                                <th style="width:200px;">Weight</th>
                                                <th style="width:200px;">Quantity</th>
                                                <th>Unit</th>
                                                <th> </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td></td>
                                                <td hidden>
                                                    <input class="" type="text" hidden id="DescriptionInputId" style="min-width:0px">
                                                </td>
                                                <td>
                                                    <input class="form-control" hidden type="text" id="DescriptionInput" readonly="" style="min-width:150px">
                                                </td>
                                                <td>
                                                    <input class="form-control" hidden type="number" id="WeightInput" readonly="" style="width:200px;">
                                                </td>
                                                <td>
                                                    <input class="form-control" hidden id="QtyInput" readonly="" style="width:200px;" type="number">
                                                </td>
                                                <td>
                                                    <select class="form-control" hidden id="UnitInput" readonly="" style="width:200px;" type="text">
                                                        <option value="Piece">Piece</option>
                                                        <option value="Dozen">Dozen</option>
                                                    </select>
                                                </td>
                                                <td><a href="javascript:void(0)" hidden class="text-success font-18" title="Add"><i class="fa fa-plus" onclick="AddRow()"></i></a></td>
                                            </tr>
                                            @if (@ViewBag.tblAdjustmentItem != null)
                                            {
                                                foreach (Inventories.Models.tblAdjustmentItem item in @ViewBag.tblAdjustmentItem)
                                                {

                                                    <tr>
                                                        <td></td>
                                                        <td hidden>
                                                            <input class="" type="text" hidden id="FDescriptionInputId" value="@item.ItemId" style="min-width:0px">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" id="FDescriptionInput" readonly="" style="min-width:150px" value="@item.tblItem.Name">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="number" id="FWeightInput" style="width:200px;" value="@item.ItemWeight">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="number" id="FQtyInput" style="width:200px;" value="@item.ItemQuantity">
                                                        </td>
                                                        <td>
                                                            <select class="form-control" id="FUnitInput" style="width:200px;" type="text">
                                                                @if (@item.ItemUnit == "Piece")
                                                                {
                                                                    <option value="Piece" selected>Piece</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="Piece">Piece</option>
                                                                }
                                                                @if (@item.ItemUnit == "Dozen")
                                                                {
                                                                    <option value="Dozen" selected>Dozen</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="Dozen">Dozen</option>
                                                                }
                                                            </select>
                                                        </td>
                                                        <td><a href="javascript:void(0)" class="text-danger font-18" title="Remove"><i class="fa fa-trash-o" onclick="DeleteRow(this)"></i></a></td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input class="form-control" type="file" name="FAttachment" id="FAttachment" value="" />
                            </div><br /><br /><br />
                            <div class="col-md-12">
                                <textarea class="form-control" name="Details" id="Details">@Model.Details</textarea>
                            </div><br /><br /><br />
                            @*<div class="col-md-12">
                                @if (Model.draft == true)
                                {
                                    <input type="checkbox" id="draft" name="draft" value="true" checked />
                                }
                                else
                                {
                                    <input type="checkbox" id="draft" name="draft" value="true" />
                                }
                                <label>This record is draft</label>
                            </div>*@
                        </div>
                        <div class="text-center m-t-20">
                            <div id="loading" style="display:none;margin: 0 auto; text-decoration-color:cornflowerblue;"><div class="spinner-border text-success" id="display_loading" style="margin: 0 auto;"></div><div class="spinner-border text-success" id="display_loading" style="display:none;margin: 0 auto;"></div> Loading...</div>
                            <input type="button" class="btn btn-primary submit-btn" id="btnSave" value="Save">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

</div>

<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<script>

    function AddRow() {
        var error = document.getElementById("error");
        if (document.getElementById("DescriptionInput").value != "" && document.getElementById("WeightInput").value != "" && document.getElementById("QtyInput").value != "") {

            error.textContent = "";

            var table = document.getElementById("ItemTable");
            var RowCount = $("#ItemTable tr").length;
            var row = table.insertRow(RowCount);
            var cell1 = row.insertCell(0);
            cell1.innerHTML = "";

            var cell0 = row.insertCell(1);
            var element = CreateInputElement();
            var Clear = document.getElementById("DescriptionInputId");
            element.value = Clear.value;
            Clear.value = "";
            cell0.appendChild(element);
            cell0.style.display = "none";

            var cell2 = row.insertCell(2);
            var element = CreateInputElement();
            var Clear = document.getElementById("DescriptionInput");
            element.value = Clear.value;
            Clear.value = "";
            cell2.appendChild(element);

            var cell3 = row.insertCell(3);
            element = CreateInputElement();
            Clear = document.getElementById("WeightInput");
            element.value = Clear.value;
            element.readOnly = false;
            element.type = "number";
            Clear.value = "";
            element.style = "width:200px";
            cell3.appendChild(element);

            var cell4 = row.insertCell(4);
            element = CreateInputElement();
            Clear = document.getElementById("QtyInput");
            element.value = Clear.value;
            element.readOnly = false;
            element.type = "number";
            Clear.value = "";
            element.style = "width:200px";
            cell4.appendChild(element);

            var cell5 = row.insertCell(5);
            var element = document.createElement("select");
            var option = document.createElement("option");
            option.value = "Piece";
            option.text = "Piece";
            element.appendChild(option);
            option =document.createElement("option");
            option.value = "Dozen";
            option.text = "Dozen";
            element.appendChild(option);
            element.className = "form-control";
            element.style = "width:200px";
            cell5.appendChild(element);

            //var cell6 = row.insertCell(6);
            //element = document.createElement("a");
            //element.setAttribute('href', "javascript:void(0)");
            //element.className = "text-success font-18";
            //element.title = "Edit";
            //var element2 = document.createElement("i");
            //element2.className = "fa fa-edit";
            //element2.setAttribute('onclick', 'UpdateRow(this)');
            //element.appendChild(element2);
            //cell6.appendChild(element);

            var cell7 = row.insertCell(6);
            element = document.createElement("a");
            element.setAttribute('href', "javascript:void(0)");
            element.className = "text-danger font-18";
            element.title = "Remove";
            var element2 = document.createElement("i");
            element2.className = "fa fa-trash";
            element2.setAttribute('onclick', 'DeleteRow(this)');
            element.appendChild(element2);
            cell7.appendChild(element);


        }
        else {
            error.textContent = "";
            error.style.color = "red";
            if (document.getElementById("DescriptionInput").value == "") {
                error.textContent = "*Description must be filled out !!! ";
            }
            if (document.getElementById("WeightInput").value == "") {
                error.textContent += " *Price must be filled out !!! ";
            }
            if (document.getElementById("QtyInput").value == "") {
                error.textContent += " *Qty must be filled out !!! ";
            }
        }
    }

    function CreateInputElement() {

        var element = document.createElement("input");
        element.readOnly = true;
        element.type = "text";
        element.className = "form-control";


        return element
    }

    function DeleteRow(oButton) {
        var Del =  oButton.parentNode.parentNode.parentNode.cells[4].children[0].value;

        document.getElementById("ItemTable").deleteRow(oButton.parentNode.parentNode.parentNode.rowIndex);
    }




    var atComplete = $("#SearchItem").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetSearchValue", "Adjustment")',
                dataType: "json",
                data: { search: $("#SearchItem").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        //alert(item.ItemId);
                        return { label: item.Name, value: item.Name, id: item.ItemId };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        },
        select: function (event, ui) {
            var SearchItem = document.getElementById("SearchItemError");
            SearchItem.textContent = "";
            SearchItem.style.color = "red";
            $("#SearchItem").val("");
            $("#DescriptionInput").val(ui.item.value);
            $("#DescriptionInputId").val(ui.item.id);
            $("#WeightInput").val(1);
            $("#QtyInput").val(1);
            var Dup = 0;
            var Skip = 0;


            $("#ItemTable TBODY TR").each(function () {
                var row = $(this);

                if (Skip != 0) {
                    if (ui.item.id == row.find("input").eq(0).val()) {
                        Dup = 1;
                    }
                }
                else {
                    Skip = 1;
                }

            });
            if (Dup == 0) {
                AddRow();
            }
            else {
                SearchItem.textContent = "*Item Already added!!! ";
            }
            return false;
        }
    });

        $("body").on("click", "#btnSave", function () {

            $("#btnSave").attr("disabled", true);
            $("#loading").show();

            var TypeError = document.getElementById("TypeError");
            var WarehouseError = document.getElementById("WarehouseError");
            var Reference = document.getElementById("ReferenceError");
            if ($("#Type").val() != "" && $("#Warehouse").val() != "" && $("#Reference").val() != "") {
                var Heads = new Array();
                var Head = {};
                Head.AdjustmentId = $("#AdjustmentId").val();
                Head.AdjustmentNumber = $("#AdjustmentNumber").val();
                Head.AdjustmentDate = $("#AdjustmentDate").val();
                Head.Type = $("#Type").val();
                Head.Warehouse = $("#Warehouse").val();
                Head.Reference = $("#Reference").val();
                Head.Attachment = $("#Attachment").val();
                Head.Details = $("#Details").val();
                //Head.draft = $('#draft').is(':checked');
                Heads.push(Head);
                console.log(Heads);

                var formData = new FormData();
                var fileInput = $("#FAttachment").get(0);
                var file = fileInput.files[0];


                //Loop through the Table rows and build a JSON array.
                var Items = new Array();
                $("#ItemTable TBODY TR").each(function () {
                    var row = $(this);
                    var Item = {};
                    Item.ItemId = row.find("input").eq(0).val();
                    Item.ItemWeight = row.find("input").eq(2).val();
                    Item.ItemQuantity = row.find("input").eq(3).val();
                    Item.ItemUnit = row.find("select").eq(0).val();
                    Items.push(Item);
                });
                console.log(Items);

                var model = {
                    HeadData: Heads,
                    TailData: Items,
                };
                console.log(model);


                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/Adjustment/CreateAdjustment",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        //alert(r.Error + " ");
                        if (r == 2) {
                            var url = window.location.origin;
                            url += '/Adjustment/Adjustments?Update=Adjustments has been update successfully.';
                            window.location.href = url;
                        }
                        else {
                            var url = window.location.origin;
                            url += '/Adjustment/Adjustments?Success=Adjustments has been add successfully.';
                            window.location.href = url;
                        }
                    }
                });
            }
            else {
                $("#btnSave").attr("disabled", false);
                $("#loading").hide();
                var TypeError = document.getElementById("TypeError");
                var WarehouseError = document.getElementById("WarehouseError");
                var Reference = document.getElementById("ReferenceError");
                TypeError.textContent = "";
                WarehouseError.textContent = "";
                Reference.textContent = "";
                TypeError.style.color = "red";
                WarehouseError.style.color = "red";
                Reference.style.color = "red";
                if ($("#Type").val() == "") {
                    TypeError.textContent = "*Type must be selected!!! ";
                }
                if ($("#Warehouse").val() == "") {
                    WarehouseError.textContent = "*Warehouse must be selected!!! ";
                }
                if ($("#Reference").val() == "") {
                    Reference.textContent = "*Reference must be Filled!!! ";
                }
            }


        });


    $("body").on('change', '#FAttachment', function () {
        //alert($(this).val());

        var formData = new FormData();
        var fileInput = $("#FAttachment").get(0);
        var file = fileInput.files[0];
        formData.append("file", file);
        console.log(file);
        formData.append("UserId", @UserId);
        console.log(FormData);

        $.ajax({
            type: "POST",
            url: "/Adjustment/Create",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (r) {
                //alert(r + " record(s) inserted.");
            }
        });

    });

    $(document).ready(function () {


    });

</script>


