@model  List<Inventories.Models.AdjustmentViewData_Result>
@{
//Layout = null;
}

<head>
    <style>
        p {
            margin-top: 0;
            margin-bottom: 0rem;
        }
    </style>
</head>
<div class="content container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <h5 class="breadcrumb-title">@Resource.Adjustment_Report @Resource.Details</h5>
                        </div>
                        <div class="col-md-6 col-6 text-right" id="" style="margin-bottom:1%;">
                            <a href="@Url.Action("PrintAdjustmentViewDataToPdf","PDF",new { Id=@Model.FirstOrDefault().AdjustmentId })" class="btn btn-primary" style="float:right"><i class="fa fa-file"> PDF</i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

    <div class="card">
        <div class="card-body">
            <div class="row" style="border-bottom: 2px solid #dee2e6;">
                <div class="col-md-6">
                    <h3>Inventories</h3>
                </div>
                <div class="col-md-6 text-right">
                    <p>@Model.FirstOrDefault().WarehouseName</p>
                    <p>@Model.FirstOrDefault().WarehouseAddress</p>
                    <p>@Model.FirstOrDefault().WarehousePhone</p>
                    <p>@Model.FirstOrDefault().WarehouseEmail</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h4 style="margin-top: 2%; text-transform: uppercase;">@Resource.Adjustment</h4>
                    <img src="@Model.FirstOrDefault().QRCode" alt="QR Code not avalible" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>Type: @Model.FirstOrDefault().Type</p>
                    <p>Date: @Model.FirstOrDefault().AdjustmentDate.ToString("MMM dd,yyyy")</p>
                    <p>Reference: @Model.FirstOrDefault().Reference</p>
                </div>
            </div>
            <div class="row" style="margin-top:5%;">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="cell-border table table-hover table-center  mb-0 " id="AdjustmentTable">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Item Category</th>
                                    <th>Item Unit</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Inventories.Models.AdjustmentViewData_Result Adjustment in Model)
                                {
                                    <tr>
                                        <td>@Adjustment.ItemName</td>
                                        <td>@Adjustment.ItemCategory</td>
                                        <td>@Adjustment.ItemUnit</td>
                                        <td>@Adjustment.ItemQuantity</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/Content/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
