@model  Inventories.Models.tblWarehouse
@{
    int WarehouseId = 0;
    string Name = "";
    string Code = "";
    string Phone = "";
    string Email = "";
    string Address ="";
    string Logo = "";
    bool? isActive = false;

    if (Model != null)
    {
        WarehouseId = Model.WarehouseId;
        Name = Model.Name;
        Code = Model.Code;
        Phone = Model.Phone;
        Email = Model.Email;
        Address = Model.Address;
        Logo = Model.Logo;
        isActive = Model.isActive;
    }



}
<head>
    @*<link href="~/Theme/template/admin/assets/css/select2.min.css" rel="stylesheet" />*@

</head>

<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("CreateWarehouse", "Warehouse", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {@Html.AntiForgeryToken()
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        @if (Model == null)
                                        {
                                            <h5 class="breadcrumb-title">@Resource.Create_Warehouse</h5>
                                        }
                                        else
                                        {
                                            <h5 class="breadcrumb-title">@Resource.Edit @Resource.Warehouse</h5>
                                        }
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateWarehouseB">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <span style="color:red;">@ViewBag.Error</span>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" style="display:none;" name="WarehouseId" value="@WarehouseId" required>
                                <label>@Resource.Name<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Name" name="Name" value="@Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resource.Code<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Code" name="Code" value="@Code" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resource.Phone<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Phone" name="Phone" value="@Phone" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@Resource.Email<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Email" name="Email" value="@Email" required>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>@Resource.Logo<span style="color:red;"></span></label>
                                <input type="file" class="form-control" id="CLogo" name="CLogo">
                                @if (@Logo != "")
                                {
                                    <a href="@Logo" target="_blank">Logo</a>
                                }

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>@Resource.Address<span style="color:red;">*</span></label>
                                <textarea class="form-control" id="Address" name="Address" required>@Address</textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @if (isActive == true)
                                {
                                    <input type="checkbox"  id="isActive" name="isActive" value="true" checked />
                                }
                                else
                                {
                                    <input type="checkbox"  id="isActive" name="isActive" value="true" />
                                }
                            <label>@Resource.Active</label>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-primary" type="submit" id="SaveChanges">@Resource.Save</button>
                                <a href="@Url.Action("CreateWarehouse","Warehouse",new { id=0})"> <input class="btn btn-danger" type="button" value="@Resource.Cancel"></a>
                                <a href="@Url.Action("Warehouses","Warehouse")" class="btn btn-secondary"><i class="fa fa-list"></i> @Resource.List</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        }
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
@*<script src="~/Theme/template/admin/assets/js/jquery-3.2.1.min.js"></script>*@
<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


<script>
    

</script>