@model  List<Inventories.Models.tblAlertQty>





@if (Model != null)
{
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <i class="fe fe-bell"></i> <span class="badge badge-pill">@ViewBag.AlertCount</span>
    </a>
    <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
            <span class="notification-title">@Resource.Notifications</span>
            @*<a href="javascript:void(0)" class="clear-noti"> Clear All </a>*@
        </div>
        <div class="noti-content">
            <ul class="notification-list">
                @foreach (Inventories.Models.tblAlertQty item in Model)
                {
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                @*<span class="avatar avatar-sm">
                                        <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/doctors/doctor-thumb-01.jpg">
                                    </span>*@
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">@item.tblItem.Name</span>  <span class="noti-title">@Resource.has_less_Quantity_than  @item.tblItem.Alertonlowstock</span></p>
                                    @*<p class="noti-time"><span class="notification-time">4 mins ago</span></p>*@
                                </div>
                            </div>
                        </a>
                    </li>
                }

                @* <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient1.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient2.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient3.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>*@
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            @*<a href="#">View all Notifications</a>*@
        </div>
    </div>
}
else
{
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <i class="fe fe-bell"></i> <span class="badge badge-pill"></span>
    </a>
    <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
            <span class="notification-title">@Resource.Notifications</span>
            @*<a href="javascript:void(0)" class="clear-noti"> Clear All </a>*@
        </div>
        <div class="noti-content">
            <ul class="notification-list">
                

                @* <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient1.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Charlene Reed</span> has booked her appointment to <span class="noti-title">Dr. Ruby Perrin</span></p>
                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient2.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Travis Trimble</span> sent a amount of $210 for his <span class="noti-title">appointment</span></p>
                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="notification-message">
                        <a href="#">
                            <div class="media">
                                <span class="avatar avatar-sm">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="~/Content/assets/img/patients/patient3.jpg">
                                </span>
                                <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Carl Kelly</span> send a message <span class="noti-title"> to his doctor</span></p>
                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                </div>
                            </div>
                        </a>
                    </li>*@
            </ul>
        </div>
        <div class="topnav-dropdown-footer">
            @*<a href="#">View all Notifications</a>*@
        </div>
    </div>
}
