@model  Inventories.Models.tblUnit
@{
    int UnitId = 0;
    string Name = "";
    string Code = "";
    string BaseUnit = "";
    string Operator = "";
    double? OperationValue = 0.0;
    string Formula = "";

    if (Model != null)
    {
        UnitId = Model.UnitId;
        Name = Model.Name;
        Code = Model.Code;
        BaseUnit = Model.BaseUnit;
        Operator = Model.Operator;
        OperationValue = Model.OperationValue;
        Formula = Model.Formula;
    }



}
<head>
    @*<link href="~/Theme/template/admin/assets/css/select2.min.css" rel="stylesheet" />*@

</head>

<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("CreateUnit", "Unit", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {@Html.AntiForgeryToken()
            <div class="card">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="breadcrumb-bar">
                            <div class="container-fluid">
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-6">
                                        @if (Model == null)
                                        {
                                            <h5 class="breadcrumb-title">Create Unit</h5>
                                        }
                                        else
                                        {
                                            <h5 class="breadcrumb-title">Edit Unit</h5>
                                        }
                                    </div>
                                    <div class="col-md-6 col-6 text-right" id="CreateUnitB">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <span style="color:red;">@ViewBag.Error</span>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" style="display:none;" name="UnitId" value="@UnitId" required>
                                <label>Name<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Name" name="Name" value="@Name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Code<span style="color:red;">*</span></label>
                                <input type="text" class="form-control" id="Code" name="Code" value="@Code" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Base Unit</label>
                                <select class="form-control" id="BaseUnit" name="BaseUnit">
                                    <option value="">Select</option>
                                    @if (@BaseUnit == "Meter (m)")
                                    {
                                        <option value="Meter (m)" selected>Meter</option>
                                    }
                                    else
                                    {
                                        <option value="Meter (m)">Meter</option>
                                    }
                                    @if (@BaseUnit == "Piece (pc)")
                                    {
                                        <option value="Piece (pc)" selected>Piece</option>
                                    }
                                    else
                                    {
                                        <option value="Piece (pc)">Piece</option>
                                    }
                                    @if (@BaseUnit == "Kilogram (kg)")
                                    {
                                        <option value="Kilogram (kg)" selected>Kilogram</option>
                                    }
                                    else
                                    {
                                        <option value="Kilogram (kg)">Kilogram</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Operator</label>
                                <select class="form-control" id="Operator" name="Operator">
                                    <option value="">Select</option>
                                    @if (@Operator == "*")
                                    {
                                        <option value="*" selected>Multiply</option>
                                    }
                                    else
                                    {
                                        <option value="*">Multiply</option>
                                    }
                                    @if (@Operator == "/")
                                    {
                                        <option value="/" selected>Divide</option>
                                    }
                                    else
                                    {
                                        <option value="/">Divide</option>
                                    }
                                    @if (@Operator == "+")
                                    {
                                        <option value="+" selected>Plus</option>
                                    }
                                    else
                                    {
                                        <option value="+">Plus</option>
                                    }
                                    @if (@Operator == "-")
                                    {
                                        <option value="-" selected>Minus</option>
                                    }
                                    else
                                    {
                                        <option value="-">Minus</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Operation Value</label>
                                <input type="number" class="form-control" id="OperationValue" name="OperationValue" value="@OperationValue">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Formula</label>
                                <input type="text" class="form-control" id="Formula" name="Formula" readonly value="@Formula">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <label></label>
                                <button class="btn btn-primary" type="submit" id="SaveChanges">Save</button>
                                <a href="@Url.Action("CreateUnit","Unit",new { id=0})"> <input class="btn btn-danger" type="button" value="Cancel"></a>
                                <a href="@Url.Action("Units","Unit")" class="btn btn-secondary"><i class="fa fa-list"></i> List</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        }
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
@*<script src="~/Theme/template/admin/assets/js/jquery-3.2.1.min.js"></script>*@
<script src="~/Content/assets/js/jquery-3.5.1.js"></script>


<script>
    $("body").on("change", "#BaseUnit,#Operator,#OperationValue,#Code", function () {
       
        var res = "";
        res += $("#BaseUnit").val();
        res += " ";
        res += $("#Operator").val();
        res += " ";
        res += $("#OperationValue").val();
        res += "= (";
        res += $("#Code").val();
        res += ")";
        $("#Formula").val(res);
    });

</script>