@model IEnumerable<Inventories.Models.tblUnit>

@{
    ViewData["Title"] = "Units";
    string Succ = @ViewBag.Success;
    string Update = @ViewBag.Update;
    string Delete = @ViewBag.Delete;
}


<head>

    <style>
        .select2-container {
            width: 100% !important;
        }
    </style>



</head>




<!-- Page Wrapper -->
<div class="content container-fluid">

    <!-- Page Header -->
    <!-- /Page Header -->
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumb-bar">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-6">
                            <h5 class="breadcrumb-title">@Resource.Unit_List</h5>
                        </div>
                        <div class="col-md-6 col-6 text-right" id="CreateUnitB" style="margin-bottom:1%;">
                            @if (ViewBag.CreateAccess == true)
                            {
                                <a href="@Url.Action("CreateUnit","Unit")" class="btn btn-primary " style="float:right;"><i class="fa fa-plus"></i> @Resource.Create @Resource.New @Resource.Unit</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div style="display:none;" class="alert alert-success alert-dismissible fade show" id="SuccessAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Success
                </div>
                <div style="display:none;" class="alert alert-info alert-dismissible fade show" id="UpdateAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Update
                </div>
                <div style="display:none;" class="alert alert-warning alert-dismissible fade show" id="DeleteAlert" role="alert">
                    <strong>Success!</strong> @ViewBag.Delete
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="table-responsive">
                            <table class="cell-border table table-hover table-center  mb-0 " id="UnitTable">
                                <thead>
                                    <tr>
                                        <th style="display:none;">Unit ID</th>
                                        <th>@Resource.Name</th>
                                        <th>@Resource.Code</th>
                                        <th>@Resource.Base_Unit</th>
                                        <th>@Resource.Formula</th>

                                        <th>@Resource.Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Inventories.Models.tblUnit Unit in Model)
                                    {
                                        <tr>
                                            <td style="display:none;">@Unit.UnitId</td>
                                            <td>@Unit.Name</td>
                                            <td>@Unit.Code</td>
                                            <td>@Unit.BaseUnit</td>

                                            <td>@Unit.Formula</td>

                                            <td class="text-end">
                                                <div class="actions">
                                                    @if (ViewBag.EditAccess == true)
                                                    {
                                                        <a href="@Url.Action("CreateUnit","Unit",new {id=Unit.UnitId })" id="EditUnit" class="text-black">
                                                            <i class="fa fa-edit"></i> @Resource.Edit
                                                        </a>
                                                    }
                                                    @if (ViewBag.DeleteAccess == true)
                                                    {
                                                        <a class="text-danger" href="#" data-toggle="modal" data-target="#UnitDelete" id="DeleteUnit">
                                                            <i class="fa fa-trash"></i> @Resource.Delete
                                                        </a>
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="UnitDelete" class="modal fade delete-modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="~/Content/assets/img/sent.png" alt="" width="50" height="46">
                <input class="form-control" type="text" id="DeleteUnitID" style="display:none;">
                <h5>@Resource.Are_you_sure_want_to_delete_this @Resource.Unit information?</h5>
                <div class="m-t-20">
                    <p id="ConfigDerror" style="color:red;"></p>
                    <a href="#" class="btn btn-white" data-dismiss="modal">@Resource.Close</a>
                    <input type="button" class="btn btn-danger" id="CDeleteUnit" value="@Resource.Delete">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /Page Wrapper -->
<!-- jQuery -->
@*<script src="~/Content/assets/js/jquery-3.5.1.js"></script>*@


<script src="~/Content/assets/js/jquery-3.2.1.min.js"></script>
@*<script src="~/Theme/template/admin/assets/js/jquery.min.js"></script>*@
<script>


    $("body").on("click", "#DeleteUnit", function () {
        $("#ConfigDerror").text("");
        $("#CDeleteUnit").attr("disabled", false);
        var currentRow = $(this).closest("tr");
        $("#DeleteUnitID").val(currentRow.find("td:eq(0)").text());
        //alert($("#DeleteDeviceInfoID").val());
    });

    $("#CDeleteUnit").on("click", function () {


        $("#CDeleteUnit").attr("disabled", true);

        var ID = $("#DeleteUnitID").val();

        var model = {
            UnitId: ID,
        };
        console.log(model);


        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Unit/DeleteUnit",
            data: JSON.stringify(model),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                if (r == 1) {

                    var url = window.location.origin;
                    url += '/Unit/Units?Delete=Unit has been delete successfully.';
                    window.location.href = url;
                }
                //alert(r + " record(s) inserted.");
            }
        });

    });



    $(document).ready(function () {


        if ("@Succ"!="") {
            $('#SuccessAlert').fadeIn();
            $('#SuccessAlert').fadeOut(6000);
        }
        else {
            $('#SuccessAlert').fadeOut();
        }
        if ("@Update" != "") {
            $('#UpdateAlert').fadeIn();
            $('#UpdateAlert').fadeOut(6000);
        }
        else {
            $('#UpdateAlert').fadeOut();
        }
        if ("@Delete" != "") {
            $('#DeleteAlert').fadeIn();
            $('#DeleteAlert').fadeOut(6000);
        }
        else {
            $('#DeleteAlert').fadeOut();
        }

        $('#UnitTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                //'pageLength',
                {


                    extend: 'excel',
                    exportOptions: {
                        columns: [ 1, 2,3,4]
                    }
                }
            ],
            @*"lengthMenu": [@Retrieves],*@
            order: [[0, 'desc']],
            searching: true, paging: true
        });



        $(".nav li ul li").removeClass("active");
        $('#Units').addClass('active');
        $('#Setup a').addClass('subdrop');
        $("#Setup  ul").first().css('display', 'block');


    });




</script>
